@use 'sassVariablesMixins';

.btn-container {
  display: flex;
  justify-content: flex-end;

  & > .save-btn {
    font-family: inherit;
    cursor: pointer;
    padding: 0.5rem 1rem;
    color: white;
    border: none;
    border-radius: 4px;
    background-color: sassVariablesMixins.$primary-color;

    &:disabled {
      cursor: default;
      opacity: 0.5;
    }
  }
}
